*.class

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
SearchScrapingApp/.idea
SearchScrapingWeb/.idea
*.pyc
__init__.py
.python_history
SearchScrapingWeb/.local
SearchScrapingWeb/logs
.viminfo
SearchScrapingWeb/.vscode
.bash_history
